<html>
  <head>
      <!--http://bettermotherfuckingwebsite.com/-->
      <style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}</style>
  </head>
  <body>

    <h1>Best Upload Site Ever</h1>
    <hr>
    <input type="file" id="file-input">
    <hr>
    <p id="status">Please enter a recipient:</p>
    <form method="POST" action="javascript:void(0);">
      <input type="text" id="username" name="username" placeholder="Recipient"><br>
      <input type="submit" value="Submit" onclick="return initUpload();">
    </form>


    <script type="text/javascript">

    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url){
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');

      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);

      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            document.getElementById('username').value = ""
            document.getElementById('file-input').value = ""
            confirm("Success")
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }

    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      username = document.getElementById('username').value
        xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}&username=` + username);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.data, response.url);
          }
          else{
            alert('Could not get signed URL.');
            
          }
        }
      };
      xhr.send();
      return true;
    }

    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      username = document.getElementById('username').value
      if (username == "") {
          alert("Please enter a high-side recipient");
          return false;
      }
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(!file){
        return alert('No file selected.');
      }
      return getSignedRequest(file);
    }

    /*
       Bind listeners when the page loads.
    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();
    */

    </script>
  </body>
</html>
